@import "tailwindcss";

.custom-datetime::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(85%) saturate(2478%) hue-rotate(245deg)
    brightness(98%) contrast(100%);
  cursor: pointer;
}

input[type="datetime-local"] {
  color-scheme: dark;
}

body {
  font-family: "Outfit", sans-serif;
}

/* Add to your index.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6b21a8;
  border-radius: 10px;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b21a8 #000000;
  overflow-y: auto !important; /* Forces scroll detection */
  -webkit-overflow-scrolling: touch;
}
